.nav {
  grid-area: n;
  background-color: grey;
  padding: 10px 0 0 10px;
}

.item {
  margin-bottom: 10px;
}

.item a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.3s ease-in;
}

.item a:hover {
  color: aquamarine;
}

.item.active a {
  color: green;
}
