.nav {
  grid-area: n;
  background-color: #6e99ef;
  padding: 10px 0 0 10px;
}

.item {
  margin-bottom: 15px;
}

.item a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.3s ease-in;
}

.item a:hover {
  color: aquamarine;
}

.item a.activeLink {
  color: #a1d4db;
}
