.back {
    height: 45vh;
}

.inform {
    display: flex;
    align-items: center;
    margin-top: 20px;
    color: #fff;
    margin-left: 10px;
}

.inform p {
    margin-left: 10px;
}

.inform span {
    display: inline-block;
}

.ava {
    width: 100px;
    height: 100px;
}

.ava img {
    border-radius: 50%;
    border: 1px solid #fff;
}