.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems, .messages {
    padding: 15px;
}

.dialogsItems .active {
    color: gold;
}

.dialog, .dialogsItems {
    color: #fff;
}

.message {
    color: aliceblue;
}